@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/Inter-Regular.woff2?v=3.11") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url("assets/Inter-Medium.woff2?v=3.11") format("woff2");
}

::selection {
  background: #3C6AF0;
  color: white;
}

::-moz-selection {
  background: #3C6AF0;
  color: white;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p,
a {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  cursor: pointer;
}

h1 {
  font-size: 34px;
  font-weight: 500;
}

.container {
  max-width: 1200px;
  margin: 80px auto 0 auto;
  padding: 10px;
}

.header {
  margin-bottom: 30px;
  padding: 10px;
}

.header-description {
  margin-top: 10px;
  font-size: 23px;
}

.links {
  margin-bottom: 15px;
}

.links a {
  display: inline-flex;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.content-item {
  padding: 10px;
  flex: 0 50%;
}

.content-item-title {
  font-size: 21px;
  font-weight: 500;
  margin: 10px 0;
}

.content-item-link {
  margin-right: 0;
}

.tags {
  margin-top: 15px;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
}

.tag {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  align-items: center;
  background: #FAFBFC;
  color: #2879F4;
  padding: 8px 10px;
  border-radius: 7px;
  font-size: 14px;
  margin-right: 10px;
  transition: background 150ms ease-in 0s;
}

.tag:hover {
  background: #edeff0;
}

.tag img {
  width: 15px;
  margin-left: 5px;
  pointer-events: none;
}

.footer {
  text-align: center;
  margin: 100px 0 100px 0;
  font-size: 14px;
}

.footer p {
  margin-top: 50px;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 34px;
  }
  
  .content {
    display: block;
  }

  .content-item {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 29px;
  }

  .header-description {
    font-size: 19px;
  }

  .container {
    margin: 40px auto 0 auto;
  }
}
