@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-neutral-300;
  @apply bg-black;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

header,
main,
footer {
  animation: fade 0.5s linear;
  animation-fill-mode: both;
}

@font-face {
  font-family: "Untitled Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/src/assets/UntitledSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Untitled Sans";
  font-style: bold;
  font-weight: 500;
  src: local(""), url("/src/assets/UntitledSans-Medium.woff") format("woff");
}
