@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

html {
  @apply text-neutral-300;
  @apply bg-black;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  background: #000;
  animation: fade 0.5s linear;
  animation-fill-mode: both;
}

@font-face {
  font-family: "Untitled Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/src/assets/UntitledSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Untitled Sans";
  font-style: bold;
  font-weight: 500;
  src: local(""), url("/src/assets/UntitledSans-Medium.woff") format("woff");
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/src/assets/GeistMono-Regular.ttf") format("ttf");
}

.shine-text {
  font-size: inherit;
  color: transparent;
  background-clip: text !important;
  animation: shine 1.5s linear infinite;
  display: inline-block;
  background: radial-gradient(circle at center,rgb(24 24 27 / 85%),transparent) -200% 50% / 200% 100% no-repeat,#f4f4f5;
}

.dark .shine-text {
  display: inline-block;
}

@keyframes shine {
    0% {
        background-position: 200% 0%;
    }
    100% {
        background-position: -200% 0%;
    }
}