@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-neutral-300;
  @apply bg-black;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

header, main, footer {
  animation: fade 1s linear;
  animation-fill-mode: both;
}

main { animation-delay: .3s }
footer { animation-delay: .5s }